.card{
    border: none; 
    margin-top: 30px;
}
.new-table{
    border: 1px solid black;
    border-radius: 20px !important;
}
.seriesLink:hover{
color: red;
cursor: pointer;

}
.seriesLink{
    font-family: BentonSans-Bold,Arial,Noto Sans,sans-serif;
    font-size: .8rem;
    color: #03a9f4;
}